<html>
<head>
    <title>Resultado Búsqueda</title>
</head>

<body>
    <p>Estás buscando: <strong>{{consulta}}</strong></p>

    <!-- CASO EXISTEN ARTÍCULOS else -->
    {% if arts %}
    <p>Artículos encontrados: {{arts|length}} artículos.</p>

    <!-- RECORRER LA LISTA MOSTRAR ÍTEMS -->
    <ul>
        {% for i in arts %}
        <li>
            {{i.nombre}} &nbsp; {{i.seccion}} &nbsp; {{i.precio}} €
        </li>
        {% endfor %}
    </ul>

    {% else %}

    <p>No se han encontrado artículos.</p>

    {% endif %}

</body>
</html>